<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
     <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
     </style>
</head>
<body>
    <h1> URL Shortner</h1>
    <% if (locals.id) { %>
      <!-- <p>URL Generated: http://localhost:8001/url/<%= id %></p> -->
       <p>
  URL Generated: 
  <a href="<%= protocol %>://<%= host %>/url/<%= id %>" target="_blank">
    <%= protocol %>://<%= host %>/url/<%= id %>
  </a>
</p>

    <% } %>
   
<a href="/url" style="display:inline-block; padding:8px 15px; background:blue; color:white; text-decoration:none; border-radius:5px;"></a>
  Home
</a>  

<!-- -------------------------------- -->

   <!-- urls.forEach(url => { 
       <li>= url.shortId </li>
   })  -->
<!-- ----------------------------------------- -->

<div>

    <p>To Visit your Short-url, type this in url bar :-> 
        1. https://short-url-n7ra.onrender.com/url/shortID
        2. Go back to home and refresh the page, to see the updated number of clicks

    </p>
    <form method="POST" action="/url">
        <label for="">Enter your Original Url</label>
        <input type="text" name="url" placeholder="https://example.com">
        <button type="submit">Generate</button>
    </form>

</div>
<div>
    <% if (locals.urls) { %>
       <table>
          <thead>
             <th>s. no.</th>
             <th>shortID</th>
             <th>Redirect</th>
             <th>Clicks</th>
          </thead>
          <tbody>
            
                <% urls.forEach((url, index) => { %>
                    <tr>
                        <td><%= index+1 %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.redirectURL %></td>
                       <td><%= url.visitHistory.length %></td>
                    </tr> 
                    
                <% }) %>

          </tbody>
       </table>
    <% } %>
</div>
      
</body>
</html>  
